<template>
  <div class="home">
    <div class="search-sticky">
      <Search @searchuser="searchUser" />
    </div>
    <div class="user-list">
      <p v-if="masterUserList.length > 0">
        <span>{{ masterUserList.length }} results</span>
      </p>
      <p v-if="searched && masterUserList.length === 0">NO RESULTS FOUND</p>
      <div v-for="user in paginatedUserList" :key="user._id">
        <ListItem :userdata="user" />
      </div>
    </div>
    <div class="pagination" v-if="masterUserList.length > 8">
      <div v-show="masterUserList.length > pageSize">
        <p>
          Page {{ pageNumber + 1 }}/{{
            Math.ceil(masterUserList.length / pageSize)
          }}
        </p>
      </div>
      <button class="prev" :disabled="pageNumber === 0" @click="paginate(-1)">
        &lt;
      </button>
      <button
        class="next"
        :disabled="
          pageNumber === Math.ceil(masterUserList.length / pageSize) - 1
        "
        @click="paginate(1)"
      >
        &gt;
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import Search from '@/components/Search.vue'
import ListItem from '@/components/ListItem.vue'
import { User } from '@/models/models'
import { GlobalMixin } from '@/mixins/globalMixins'

@Component({
  components: {
    Search,
    ListItem
  }
})
export default class Home extends GlobalMixin {
  masterUserList: Array<User> = [];
  paginatedUserList: Array<User> = [];
  pageNumber = 0;
  pageSize = 8;
  searched = false;

  created (): void {
    if (!this.$store.getters.userListLength) {
      this.initializeStore()
    }
  }

  searchUser (searchKey: string, propsList: (keyof User)[]): void {
    this.pageNumber = 0
    this.searched = true
    this.masterUserList = this.$store.getters.filterUsers(searchKey, propsList)
    this.paginatedUserList = this.masterUserList.slice(0, this.pageSize)
  }

  paginate (direction: number): void {
    this.pageNumber += direction
    this.paginatedUserList = this.masterUserList.slice(
      this.pageNumber * this.pageSize,
      this.pageNumber * this.pageSize + this.pageSize
    )
  }
}
</script>
<style scoped lang="scss">
.home {
  padding: 40px;
  padding-top: 0;
  .search-sticky {
    position: sticky;
    top: 45px;
    padding-top: 40px;
    padding: 40px 0;
    background: white;
  }

  .user-list {
    margin-top: 30px;
  }

  .pagination {
    button {
      height: 35px;
      width: 35px;
      font-size: 20px;
    }
  }
}
</style>
