<template>
  <div class="org-details">
    <section>
      <h2>Organization</h2>
      <DetailsCard
        :title="organizationDetails.name"
        :detailsFiltered="filteredOrganizationDetails"
        @detailsupdated="updateOrganization"
      />
    </section>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import DetailsCard from '@/components/DetailsCard.vue'
import { GlobalMixin } from '@/mixins/globalMixins'
import { EditableObject, Organization } from '@/models/models'

@Component({
  components: {
    DetailsCard
  }
})
export default class OrganizationDetails extends GlobalMixin {
  filteredOrganizationDetails: Array<EditableObject> = [];
  organizationDetails: Organization = {};

  createDetailsList (): void {
    this.filteredOrganizationDetails = [
      {
        label: 'name',
        value: this.organizationDetails?.name,
        isEditable: true
      },
      {
        label: '_id',
        value: this.organizationDetails?._id,
        isEditable: false
      },
      {
        label: 'details',
        value: this.organizationDetails?.details,
        isEditable: true
      }
    ]
  }

  loadOrganization () : void {
    const organizationId = this.$route.params.id
    this.organizationDetails =
      this.$store.getters.getOrganizationById(organizationId)
    this.createDetailsList()
  }

  async created (): Promise<void> {
    if (!this.$store.getters.userListLength) {
      await this.initializeStore()
    }
    this.loadOrganization()
  }

  async updateOrganization (organizationAttrsList: Array<EditableObject>): Promise<void> {
    organizationAttrsList.forEach((item) => {
      this.organizationDetails[item.label] = item.value
    })
    this.createDetailsList()
    await this.$store.commit('updateOrganization', this.organizationDetails)
  }
}
</script>

<style scoped lang="scss">
.org-details {
  padding: 40px;
  h2 {
    text-align: left;
  }
}
</style>
