<template>
  <div class="ticket-details">
    <section>
      <h2>Ticket</h2>
      <DetailsCard
        :title="ticketDetails.type"
        :detailsFiltered="filteredTicketDetails"
        @detailsupdated="updateTicket"
      />
    </section>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import DetailsCard from '@/components/DetailsCard.vue'
import { GlobalMixin } from '@/mixins/globalMixins'
import { EditableObject, Ticket } from '@/models/models'

@Component({
  components: {
    DetailsCard
  }
})
export default class TicketDetails extends GlobalMixin {
  filteredTicketDetails: Array<EditableObject> = [];
  ticketDetails: Ticket = {};

  createDetailsList (): void {
    this.filteredTicketDetails = [
      {
        label: 'type',
        value: this.ticketDetails?.type,
        isEditable: true
      },
      {
        label: '_id',
        value: this.ticketDetails?._id,
        isEditable: false
      },
      {
        label: 'subject',
        value: this.ticketDetails?.subject,
        isEditable: true
      },
      {
        label: 'description',
        value: this.ticketDetails?.description,
        isEditable: true
      },
      {
        label: 'priority',
        value: this.ticketDetails?.priority,
        isEditable: true
      },
      {
        label: 'status',
        value: this.ticketDetails?.status,
        isEditable: false
      },
      {
        label: 'via',
        value: this.ticketDetails?.status,
        isEditable: false
      }
    ]
  }

  loadTicket () : void {
    const ticketId = this.$route.params.id
    this.ticketDetails = this.$store.getters.getTicketById(ticketId)
    this.createDetailsList()
  }

  async created (): Promise<void> {
    if (!this.$store.getters.userListLength) {
      await this.initializeStore()
    }
    this.loadTicket()
  }

  async updateTicket (ticketAttrsList: Array<EditableObject>): Promise<void> {
    ticketAttrsList.forEach((item) => {
      this.ticketDetails[item.label] = item.value
    })
    this.createDetailsList()
    await this.$store.commit('updateTicket', this.ticketDetails)
  }
}
</script>

<style scoped lang="scss">
.ticket-details {
  padding: 40px;
  h2 {
    text-align: left;
  }
}
</style>
