<template>
  <div class="user-details">
    <section>
      <DetailsCard
        :title="userDetails.name"
        :detailsFiltered="filteredUserDetails"
        @detailsupdated="updateUser"
      />
    </section>
    <section>
      <h2>Organization</h2>
      <div class="details">
        <h3>{{ organizationDetails.name }}</h3>
        <p>{{ organizationDetails.details }}</p>
        <li v-for="item in organizationDetails.domain_names" :key="item">
          {{ item }}
        </li>
        <router-link
          :to="{
            name: 'organizationdetails',
            params: { id: `${organizationDetails._id}` },
          }"
        >
          <p>More Details</p>
        </router-link>
      </div>
    </section>
    <section v-if="ticketDetails.length">
      <h2>Tickets</h2>
      <div v-for="ticket in ticketDetails" :key="ticket._id" class="details">
        <h3>{{ ticket.type }}</h3>
        <p>{{ ticket.status }}</p>
        <p>{{ ticket.subject }}</p>
        <router-link
          :to="{ name: 'ticketdetails', params: { id: `${ticket._id}` } }"
        >
          <p>More Details</p>
        </router-link>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import DetailsCard from '@/components/DetailsCard.vue'
import { EditableObject, Organization, Ticket, User } from '@/models/models'
import { Component } from 'vue-property-decorator'
import { GlobalMixin } from '@/mixins/globalMixins'

@Component({
  components: {
    DetailsCard
  }
})
export default class UserDetails extends GlobalMixin {
  userDetails: User = {
    _id: 0
  };

  filteredUserDetails: Array<EditableObject> = [];

  organizationDetails: Organization = {
    name: '',
    details: '',
    domain_names: []
  };

  ticketDetails?: Array<Ticket> = [];

  loadUser (): void {
    const userId = this.$route.params.id
    this.userDetails = this.$store.getters.getUserById(userId)
    this.createDetailsList()
  }

  loadTickets (): void {
    this.ticketDetails = this.$store.getters.filterTickets(
      this.userDetails?._id
    )
  }

  loadOrganization (): void {
    this.organizationDetails = this.$store.getters.getOrganizationById(
      this.userDetails?.organization_id
    )
  }

  createDetailsList (): void {
    this.filteredUserDetails = [
      {
        label: 'name',
        value: this.userDetails?.name,
        isEditable: true
      },
      {
        label: '_id',
        value: this.userDetails?._id,
        isEditable: false
      },
      {
        label: 'alias',
        value: this.userDetails?.alias,
        isEditable: true
      },
      {
        label: 'role',
        value: this.userDetails?.role,
        isEditable: false
      },
      {
        label: 'email',
        value: this.userDetails?.email,
        isEditable: true
      },
      {
        label: 'phone',
        value: this.userDetails?.phone,
        isEditable: true
      },
      {
        label: 'signature',
        value: this.userDetails?.signature,
        isEditable: true
      }
    ]
  }

  async created (): Promise<void> {
    if (!this.$store.getters.userListLength) {
      await this.initializeStore()
    }
    this.loadUser()
    this.loadOrganization()
    this.loadTickets()
  }

  async updateUser (userAttrsList: Array<EditableObject>): Promise<void> {
    userAttrsList.forEach((item) => {
      this.userDetails[item.label] = item.value
    })
    this.createDetailsList()
    await this.$store.commit('updateUser', this.userDetails)
  }
}
</script>

<style scoped lang="scss">
.user-details {
  padding: 40px;
  section {
    h2 {
      text-align: left;
    }

    .details {
      box-shadow: 0px 1px 5px 0px rgba(175, 175, 175, 0.75);
      text-align: left;
      background: white;
      padding: 20px 40px;
      margin-bottom: 20px;

      h3 {
        text-transform: capitalize;
      }
    }
  }
}
</style>
