<template>
  <div class="details-card">
    <div class="title">
      <h2>{{ title }}</h2>
      <h2 v-show="!isEditMode" class="edit-btn" @click="enterEditMode">🖊️</h2>
    </div>

    <div v-if="!isEditMode">
      <div class="view-mode" v-for="item in detailsFiltered" :key="item.label">
        <p class="label">{{ item.label | formatString }}:</p>
        <p class="value">{{ item.value }}</p>
      </div>
    </div>

    <div v-if="isEditMode">
      <div
        class="edit-mode"
        v-for="item in tempEditableObject"
        :key="item.label"
      >
        <p class="label">{{ item.label | formatString }}:</p>
        <input
          v-if="isEditMode && item.isEditable"
          type="text"
          class="edit-box"
          v-model="item.value"
        />
        <p v-else class="value">{{ item.value }}</p>
      </div>
    </div>

    <div v-if="isEditMode" class="btn-group">
      <button class="cancel-btn" @click="exitEditMode">Cancel</button>
      <button class="update-btn" @click="updateDetails">Update</button>
    </div>
  </div>
</template>

<script lang="ts">
import { EditableObject } from '@/models/models'
import { Component, Prop, Vue } from 'vue-property-decorator'
import { deepCopy } from '@/utils/deepcopy'

/*
* Common details card which acts as component view and edit details
* The props of the object that can be edited is set from parent
*/
@Component({
  filters: {
    formatString (value: string) {
      return value.toString().replace('_', '').toUpperCase()
    }
  }
})
export default class DetailsCard extends Vue {
  isEditMode = false;
  tempEditableObject?: Array<EditableObject> = [];

  @Prop({
    type: Array as any,
    required: true
  })
  detailsFiltered: Array<EditableObject> | undefined;

  @Prop({
    type: String
  })
  title!: string;

  exitEditMode (): void {
    this.tempEditableObject = deepCopy(this.detailsFiltered)
    this.isEditMode = false
  }

  updateDetails (): void {
    this.$emit('detailsupdated', this.tempEditableObject)
    this.isEditMode = false
  }

  enterEditMode (): void {
    this.tempEditableObject = deepCopy(this.detailsFiltered)
    this.isEditMode = true
  }
}
</script>

<style scoped lang="scss">
.details-card {
  text-align: left;
  box-shadow: 0px 1px 5px 0px rgba(175, 175, 175, 0.75);
  text-align: left;
  background: white;
  padding: 20px 40px;

  .edit-mode,
  .view-mode {
    display: flex;
    align-items: center;
    .label {
      font-size: 14px;
      min-width: 120px;
    }
    .value {
      font-weight: bold;
    }
    .edit-box {
      height: 25px;
      width: 25%;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;

    .edit-btn {
      cursor: pointer;
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    button {
      border: none;
      height: 40px;
      margin: 10px;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
      font-weight: bold;
      &:active {
        background: #dadada;
      }
    }
  }
}
</style>
