<template>
  <div class="user-card">
    <div class="user-details">
      <div class="user-image"></div>
      <p>{{ userdata.name }}</p>
    </div>
    <div class="route">
      <p class="tag">{{ userdata.matched_field }}</p>
      <router-link :to="{ name: 'userdetails', params: { id: `${userdata._id}` } }">
        <div class="arrow"></div>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType } from 'vue'
import { Component, Prop, Vue } from 'vue-property-decorator'
import { User } from '@/models/models'

@Component
export default class ListItem extends Vue {
  @Prop({
    type: Object as PropType<User>,
    required: true
  })
  readonly userdata!: User;
}
</script>

<style scoped lang="scss">
.user-card {
  display: flex;
  width: 100%;
  padding: 10px 25px;
  margin-bottom: 10px;
  max-width: 700px;
  margin: auto;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px rgba(175, 175, 175, 0.75);
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;

  .route,
  .user-details {
    display: flex;
    align-items: center;
  }

  .user-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    background: #efefef;
  }

  .tag {
    background: royalblue;
    font-size: 12px;
    color: white;
    padding: 4px 4px;
    border-radius: 3px;
    text-transform: uppercase;
    height: 15px;
    font-weight: bold;
    margin-right: 40px;
  }

  .arrow {
    height: 18px;
    width: 18px;
    border: 2px solid black;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
  }
}
</style>
