<template>
  <div class="search">
    <div class="search-wrapper">
      <div class="dropdown">
        <button
          class="dropdown-btn"
          @click="isDropdownVisible = !isDropdownVisible"
        ></button>
        <div class="dropdown-list" v-show="isDropdownVisible">
          <li v-for="option in filterOptions" :key="option.key">
            {{ option.title
            }}<input
              @change="updatePropsList"
              type="checkbox"
              v-model="option.isSelected"
              :checked="option.isSelected"
            />
          </li>
        </div>
      </div>
      <input
        @keyup="searchKeyEntered"
        placeholder="search"
        v-model="searchKey"
        v-on:keyup.enter="searchUser"
        type="text"
        class="search-box"
      />
      <button
        :disabled="searchKey.length === 0"
        class="search-btn"
        @click="searchUser"
      ></button>
    </div>
    <p v-if="isError" class="error">Select at least one filter</p>

    <div class="suggestions" v-if="suggestionList.length">
      <div v-for="item in suggestionList" :key="item.id">
        <TypeAhead
          :typedString="searchKey"
          :matchedPropValue="item.matchedPropValue"
          :matchedProp="item.matchedProp"
          @suggestionclicked="suggestionClicked"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { debounce } from '@/utils/debounce'
import TypeAhead from './TypeAhead.vue'
import { UserSearchSuggestion } from '@/models/models'

interface FilterOption {
  key: string;
  title: string;
  isSelected: boolean;
}

@Component({
  components: {
    TypeAhead
  }
})
export default class Search extends Vue {
  // data
  searchKey = '';
  isDropdownVisible = false;
  isError = false;
  propsList: string[] = []

  filterOptions: Array<FilterOption> = [
    {
      key: '_id',
      title: 'Id',
      isSelected: true
    },
    {
      key: 'name',
      title: 'Name',
      isSelected: true
    },
    {
      key: 'alias',
      title: 'Alias',
      isSelected: true
    },
    {
      key: 'email',
      title: 'E-mail',
      isSelected: true
    },
    {
      key: 'phone',
      title: 'Phone no.',
      isSelected: true
    },
    {
      key: 'role',
      title: 'Role',
      isSelected: true
    },
    {
      key: 'url',
      title: 'Url',
      isSelected: true
    },
    {
      key: 'external_id',
      title: 'External Id',
      isSelected: true
    }
  ];

  suggestionList: Array<UserSearchSuggestion> = [];

  mounted (): void {
    this.updatePropsList()
  }

  updatePropsList () : void {
    this.propsList = []
    this.filterOptions.forEach((item) => {
      if (item.isSelected) {
        this.propsList.push(item.key)
      }
    })
  }

  emitSearchEvent (searchKey: string) : void {
    if (this.propsList.length) {
      this.$emit('searchuser', searchKey, this.propsList)
    } else {
      this.isError = true
    }
  }

  // search user on button click
  searchUser (): void {
    this.isDropdownVisible = false
    this.isError = false
    this.suggestionList = []
    this.emitSearchEvent(this.searchKey)
  }

  // event from typeahead component
  suggestionClicked (suggestedSearchKey: string) : void {
    this.isDropdownVisible = false
    this.suggestionList = []
    this.emitSearchEvent(suggestedSearchKey)
  }

  // Get suggestion for typeahead
  getSuggestions (): void {
    this.isDropdownVisible = false
    if (this.searchKey.length > 2) {
      this.suggestionList = this.$store.getters.searchSuggestions(
        this.searchKey,
        this.propsList
      )
    } else {
      this.suggestionList = []
    }
  }

  // Keyup event on input is debounced
  searchKeyEntered = debounce(this.getSuggestions, 500);
}
</script>

<style scoped lang="scss">
.search {
  .search-wrapper {
    background: white;
    display: flex;
    justify-content: center;
    height: 35px;
    box-shadow: 0px 1px 5px 0px rgba(175, 175, 175, 0.75);
    border-radius: 2px;
    width: fit-content;
    margin: auto;

    .dropdown {
      position: relative;
      .dropdown-btn {
        border: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background: #efefef;
        &:after {
          content: "";
          height: 10px;
          width: 10px;
          display: block;
          border: 2px solid #757575;
          transform: rotate(45deg) translate(-2px);
          border-top: none;
          border-left: none;
          margin: auto;
          display: flex;
        }

        &:active {
          background: #dadada;
        }
      }

      .dropdown-list {
        position: absolute;
        width: 110px;
        background: white;
        padding: 12px;
        left: -95px;
        text-align: right;
        top: 38px;
        border-radius: 2px;
        box-shadow: 0px 1px 5px 0px rgba(175, 175, 175, 0.75);
        li {
          list-style: none;
          margin: 5px;
        }
      }
    }

    .search-box {
      border: none;
      margin: 0 10px;
      outline: none;
      width: 300px;
    }

    .search-btn {
      border: none;
      width: 35px;
      background: #f5a623;
      border-radius: 0 2px 2px 0;
      cursor: pointer;
      &:after {
        content: "";
        height: 10px;
        width: 10px;
        display: block;
        border: 1px solid white;
        transform: rotate(45deg) translate(2px);
        border-bottom: none;
        border-left: none;
        border-right: none;
        margin: auto;
        display: flex;
      }

      &:before {
        content: "";
        height: 12px;
        width: 12px;
        border: 1px solid white;
        border-radius: 50%;
        display: block;
        transform: translate(2px, 2px);
      }

      &:active {
        background: #d29126;
      }

      &:disabled {
        background: #acacac;
        cursor: not-allowed;
      }
    }
  }
  .error {
    color: red;
    font-size: 12px;
  }
  .suggestions {
    width: 370px;
    margin: auto;
    background: white;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 12px;
    top: 77px;
    box-shadow: 0px 1px 5px 0px rgba(175, 175, 175, 0.75);
  }
}
</style>
