<template>
  <div class="type-ahead" @click="suggestionClicked">
    <p class="value">
      {{ matchedPropValue }}
    </p>
    <p class="tag">
      {{ matchedProp | formatString }}
    </p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component({
  filters: {
    formatString (value: string) {
      return value.replace('_', ' ').toUpperCase()
    }
  }
})
export default class TypeAhead extends Vue {
  // prefix = '';
  // postfix = '';
  // mid = ''

  @Prop({
    type: String,
    required: true
  })
  typedString!: string;

  @Prop({
    type: String,
    required: true
  })
  matchedPropValue!: string;

  @Prop({
    type: String,
    required: true
  })
  matchedProp!: string;

  suggestionClicked (): void {
    this.$emit('suggestionclicked', this.matchedPropValue)
  }

  // mounted (): void {
  //   this.prefix = ''
  //   this.postfix = ''
  //   const startsAt = this.matchedPropValue.indexOf(this.typedString)
  //   const endsAt = startsAt + this.typedString.length
  //   this.prefix = this.matchedPropValue.slice(0, startsAt)
  //   this.mid = this.typedString
  //   this.postfix = this.matchedPropValue.slice(
  //     endsAt,
  //     this.matchedPropValue.length
  //   )
  // }
}
</script>

<style scoped lang="scss">
.type-ahead {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #f1e9e9;
  text-align: left;
  .tag {
    font-size: 12px;
    color: white;
    background: royalblue;
    padding: 4px;
    border-radius: 2px;
  }
}
</style>
