<template>
  <div id="app">
    <header class="header">
      <router-link :to="{ name: 'home' }">
        <h1>♾️</h1>
      </router-link>
    </header>
    <router-view />
  </div>
</template>

<style lang="scss">
@import './assets/reset.css';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .header {
    height: 60px;
    width: 100%;
    background: #71558e;
    position: sticky;
    top: 0;
    z-index: 2;
    h1 {
      color: whitesmoke;
      text-align: left;
      padding: 12px;
      cursor: pointer;
    }
  }
}
</style>
